In [4]:
import pandas as pd

file_path = '../Cleaning_Data/BankChurners.csv'
BankChurners_df = pd.read_csv(file_path)

BankChurners_df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [5]:
BankChurners_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [6]:
BankChurners_df.isnull().sum()

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

In [7]:
# Identificando el número de clientes y posibles clientes
BankChurners_df["Attrition_Flag"].value_counts()

Attrition_Flag
Existing Customer    8500
Attrited Customer    1627
Name: count, dtype: int64

In [8]:
#Reconvertimos las variables de clientes existentes a 0 y a los clientes potenciales a 1 
BankChurners_df["Attrition_Flag"]=BankChurners_df["Attrition_Flag"].map({"Existing Customer":0,"Attrited Customer":1})
BankChurners_df['Attrition_Flag']=BankChurners_df['Attrition_Flag'].astype(int)

In [9]:
# Identificamos la cantidad del género
BankChurners_df["Gender"].value_counts()

Gender
F    5358
M    4769
Name: count, dtype: int64

In [10]:
#Reemplazamos el valor de genero para femino a 0 y a masculino a 1
BankChurners_df["Gender"]=BankChurners_df["Gender"].map({"F":0,"M":1}) 

#Cambiamos el tipo de dato a integer
BankChurners_df['Gender']=BankChurners_df['Gender'].astype(int)

In [11]:
BankChurners_df["Education_Level"].value_counts()

Education_Level
Graduate         3128
High School      2013
Unknown          1519
Uneducated       1487
College          1013
Post-Graduate     516
Doctorate         451
Name: count, dtype: int64

In [13]:
#We are deleting the Unknown data in Education_Level.
#También estamos transformando la data dependiendo del tipo de Education_Level
BankChurners_df=BankChurners_df[BankChurners_df['Education_Level']!="Unknown"] 
BankChurners_df["Education_Level"]=BankChurners_df["Education_Level"].map({"Graduate":0,"High School":1,"Uneducated":2,"College":3,"Post-Graduate":4,"Doctorate":5})
BankChurners_df['Education_Level']=BankChurners_df['Education_Level'].astype(int)

In [14]:
BankChurners_df["Marital_Status"].value_counts()

Marital_Status
Married     3999
Single      3322
Divorced     652
Unknown      635
Name: count, dtype: int64

In [15]:
#Cambiamos los valores de Marital_Status a integer y los modificamos dependiendo del tipo de estatus
BankChurners_df=BankChurners_df[BankChurners_df['Marital_Status']!="Unknown"]
BankChurners_df["Marital_Status"]=BankChurners_df["Marital_Status"].map({"Married":0,"Single":1,"Divorced":2})
BankChurners_df['Marital_Status']=BankChurners_df['Marital_Status'].astype(int)

In [16]:
BankChurners_df["Income_Category"].value_counts()

Income_Category
Less than $40K    2792
$40K - $60K       1412
$80K - $120K      1202
$60K - $80K       1103
Unknown            892
$120K +            572
Name: count, dtype: int64

In [17]:
#Eliminamos la categoria "Unknown" en Income_Category y transformamos la data a integer dependiendo del tipo de categoria
BankChurners_df=BankChurners_df[BankChurners_df['Income_Category']!="Unknown"]
BankChurners_df["Income_Category"]=BankChurners_df["Income_Category"].map({"Less than $40K":0,"$40K - $60K":1,"$80K - $120K":2,"$60K - $80K":3,"$120K +":4})
BankChurners_df['Income_Category']=BankChurners_df['Income_Category'].astype(int)

In [18]:
BankChurners_df["Card_Category"].value_counts()

Card_Category
Blue        6598
Silver       391
Gold          81
Platinum      11
Name: count, dtype: int64

In [19]:
#Transformamos la data en la columna "Card_Category" dependiendo del tipo de categoria
BankChurners_df["Card_Category"]=BankChurners_df["Card_Category"].map({"Blue":0,"Silver":1,"Gold":2,"Platinum":3})
BankChurners_df['Card_Category']=BankChurners_df['Card_Category'].astype(int)

In [20]:
#Revisamos las correlaciones
abs(BankChurners_df.corr()["Credit_Limit"].sort_values(ascending=False))

Credit_Limit                                                                                                                          1.000000
Avg_Open_To_Buy                                                                                                                       0.996041
Income_Category                                                                                                                       0.530106
Gender                                                                                                                                0.476471
Card_Category                                                                                                                         0.475312
Total_Trans_Amt                                                                                                                       0.171591
Dependent_count                                                                                                                       0.081379
Total_Trans_Ct                                                                                                                        0.080834
Marital_Status                                                                                                                        0.049652
Total_Revolving_Bal                                                                                                                   0.038170
Customer_Age                                                                                                                          0.024563
Months_on_book                                                                                                                        0.020103
Contacts_Count_12_mon                                                                                                                 0.016737
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0.015799
Total_Amt_Chng_Q4_Q1                                                                                                                  0.001973
CLIENTNUM                                                                                                                             0.000262
Education_Level                                                                                                                       0.000717
Total_Ct_Chng_Q4_Q1                                                                                                                   0.005991
Months_Inactive_12_mon                                                                                                                0.015728
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0.015799
Attrition_Flag                                                                                                                        0.015815
Total_Relationship_Count                                                                                                              0.074876
Avg_Utilization_Ratio                                                                                                                 0.483649
Name: Credit_Limit, dtype: float64

Aqui empezamos la regresion
# Regression